#app {
    font-family: 'Montserrat', sans-serif;
}

.router-link-exact-active {
    font-weight: bold;
}

.btn-success {
    background: #42B9A1;
    border-color: #42B9A1;
}

/* .hero {
    display: flex;
    flex-direction: row;
} */

.card-product {
    border-radius: 15px;
}

.card-img-top {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

@media screen and (max-width: 680px){
    .hero {
        display: flex;
        flex-direction: column-reverse;
    }
}